.quiz {
  background-color: rgba(36, 143, 95, 0.5);
  font-size: 16px;
}

.quiz__title {
  background-color: rgb(24, 94, 63);
  color: #fff;
  margin: 50px 0 16px;
  font-family: "ReenieBeanie", Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 64px;
  padding: 20px;
}

.quiz__Questions {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  position: relative;
  font-family: "FunnelSans", Arial, Helvetica, sans-serif;
}

.quiz__Question {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8px;
}

.quiz__Question_Desc {
  margin: 0;
  padding: 0 0 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 30px;
}

.quiz__radio_buttons {
  margin: 0;
  padding: 0;
  margin-top: 4px;
  display: flex;
}

.quiz__Question_number_Answer {
  width: 400px;
  margin-left: 20px;
  padding: 8px;
  border-radius: 6px;
  border: 0;
  background-color: rgba(36, 143, 95, 0.5);
}
.quiz__Checkboxes {
  width: fit-content;
  padding: 5px;
  display: flex;
  gap: 46px;
  margin-left: 20px;
  background-color: rgba(36, 143, 95, 0.5);
  border-radius: 6px;
}

.quiz__Question_choice {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  font-size: 24px;
}

.quiz__Question_choice_Answer {
  padding: 10px;
  border-radius: 2px;
  border: none;
  width: 18px;
  height: 18px;
}

.quiz__Submission {
  top: 20px;
  align-self: flex-end;
  position: relative;
  bottom: 10px;
  right: 20px;
  border-radius: 6px;
  font-size: 30px;
  border: none;
}

.quiz__Question_number_Answer:hover,
.quiz__Checkboxes:hover,
.quiz__Question_choice_Answer:hover {
  border: 2px black solid;
}

.quiz__Submission:hover {
  background-color: rgb(223, 214, 214);
  border: 2px black solid;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .quiz__title {
    font-size: 40px;
    line-height: 44px;
  }

  .quiz__Question_number_Answer {
    width: 340px;
  }
  .quiz__Question_Desc {
    font-size: 20px;
    line-height: 24px;
  }
  .quiz__Question_choice {
    font-size: 18px;
    line-height: 22px;
  }

  .quiz__Submission {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 475px) {
  .quiz__title {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }
  .quiz__Question_Desc {
    font-size: 16px;
    line-height: 20px;
  }
  .quiz__Question_choice {
    font-size: 14px;
    line-height: 18px;
  }

  .quiz__Submission {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 425px) {
  .quiz__Question_number_Answer {
    margin-left: 10px;
  }
  .quiz__Checkboxes {
    gap: 10px;
    margin-left: 10px;
  }
  .quiz__Question_number_Answer {
    width: 240px;
  }
}
